body {
  font-family:  'Exo', sans-serif;
}

.logo {
  font-family: 'Chango', sans-serif;
  font-size:5em;
  text-align: center;
  margin: 0;
  margin-top: 0.1em;
}

.modal {
  overflow: auto;
}

.delay {
  font-family:  'Chango', sans-serif;
  font-size: 2em;
  font-weight: normal;
}
.depuis {
  font-family:  'Exo', sans-serif;
  font-weight: 500;
  font-size: 1em;
  opacity: .6;
  padding-left: 1em;
  /*font-weight: bold;*/
}
.item-text {
  font-family:  'Exo', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.datepicker {
  display: none;
}
.picker__date-display{
  display: none;
}


/*.radio-indigo[type="radio"] + label:before{
    border: 2px solid indigo;
    background: transparent;
}
.radio-indigo[type="radio"]:checked + label:before{
    border: 2px solid transparent;
    border-bottom: 2px solid indigo;
    border-right: 2px solid indigo;
    background: transparent;
}*/

/*input[type=radio] {
  display: none !important;
}

.colorpicker [type="radio"] + label::before,
.colorpicker [type="radio"] + label::after {
    content: '';
  }
.colorpicker input[type=radio] + label {

}
.colorpicker input[type=radio]:checked + label {
  border: solid 4px black;
}*/
