
body {
  background-color: #ede7f6;
}


.item.mdl-card {
  /*#9f0000;*/
  background:   #2F264D;
}
.item > .mdl-card__actions {
  border-color: rgba(20, 255, 255, 0.2);
}
.item > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.item > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.item > .mdl-card__title,
.item > .mdl-card__actions,
.item > .mdl-card__actions > .mdl-button {
  color: #fff;
}
.item > .mdl-card__supporting-text {
  color: #fff;
  font-size: 1.1em;
}
.mdl-card {
  min-height:0;
}

#debug {
  padding:3px;
  margin:4px;
  width:80%;
  border: 1px solid red;
  background-color: white;
}
/* - Masonry - */
.grid {
  display: block;
  padding: 10px;
}
.item {
  margin-bottom: 8px;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/*Form*/
#delayoutput{
  padding: 3px;
  background-color: #ffbf00;
}
#datewrapper {
  display: inline-block;
  position: relative;
}
#datepicker {
  position: absolute;
  /*float: right;*/
  z-index: 1000; /* Sit on top */
}


.add {
  display: inline-flex;
  background-color: grey;
  border:solid 1px black;
  margin:0px;
  padding:0px;
  vertical-align: middle;
  height: 60px;
}
.mdl-textfield {
  padding:0px;
}
/*Logo*/
#logo h2.mdl-card__title-text {
  font-family: 'Chango', cursive;
  font-weight: normal;
  display: inline-block;
  margin: auto;
  font-size:80px;
  /*background-color: #560027;*/
  color: white;
}

/*.item > .mdl-card__actions {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  background: rgba(200, 200, 200, .9);
  z-index:100;
  text-align: center;
}*/
